services:
  frontend:
    build:
      context: .
      args:
        NEXT_PUBLIC_STRAPI_URL: http://75.119.135.164:5001
    ports:
      - "5002:5002"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NEXT_PUBLIC_STRAPI_URL=http://75.119.135.164:5001
      - STRAPI_URL=http://75.119.135.164:5001
    restart: unless-stopped
